.main-table table {
    width: 100%;
}
.main-table table tr {
    height: 70px;
}
.main-table img {
    height: 50%;
    margin: 35px 0;
}
.verification {
    height: 150px;
    margin-top: 20px;
    background: #fbfcfb;
    padding: 6px 2px;
}
.add-mail, .verification-content{
    font-size: 0.8em;
    height: 35px;
    margin-bottom: 8px;
}
.add-mail button, .verification-content button {
    margin: 0 10px;
    border-radius: 5px;
    color:white;
    background: #0e98ec;
}
.add-mail input {
    border-radius: 4px;
    border: 1px solid gray;
}
.add-mail span {
    padding: 10px;
    color: #0e98ec;
}
.fz08 {
    font-size: 0.8em;
}
.blue-font {
    color: #0e98ec;
}
span.add{
        display: block;
        width: 100%;
        text-align: left;
        margin: 20px 0px;
}
button.white {
    background-color: white;
    color: black;
}
.verification-content input {
    margin-left: 14px;
}
span.forgot-password {
    margin-top: 15px;
}
.main-verification h6 {
    margin-bottom: 17px;
    margin-top: 9px;
}